html
    head
        title='Pluralsight Rocks'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css' )
    body
        div.container
            div.jumbotron
                h1 Test Complete!
                p Click the button below to head over to my podcast...
                p
                    a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
                p